

<div *ngIf="application">


  <!--------------- BANNER  ------------------>
  <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
      <mat-expansion-panel-header>
        <mat-panel-title class="panel-title"> Application ID: {{application._id!}} </mat-panel-title>
        <mat-panel-description class="panel-description"> State: 
          <span class="status-badge" [ngClass]="getStatusClass(application.status)">
            {{ application.status }}
          </span>
        </mat-panel-description>
    </mat-expansion-panel-header>
    
    <!--------------- DATA  ------------------>



    <!--------------- EDIT BANNER ------------>
    <mat-card appearance="outlined">
      <mat-card-actions>

        <section class="button-section">
          
          <button mat-fab 
                  color="primary" 
                  class="edit-button" 
                  (click)="openApplicationEditor()"
                  aria-label="Modifica">
            <mat-icon>edit</mat-icon>
          </button>

          <button mat-fab 
                  color="warn" 
                  class="delete-button" 
                  (click)="openDeleteDialog(deleteDialogTemplate)"
                  aria-label="Elimina">
            <mat-icon>delete</mat-icon>
          </button>


          <ng-template #deleteDialogTemplate>
            <h2 mat-dialog-title>Confirm Deletion</h2>
            <mat-dialog-content>
              <p>Are you sure you want to delete permanently this application?</p>
            </mat-dialog-content>
            <mat-dialog-actions align="end">
              <button mat-flat-button  class="back-delete-button" mat-dialog-close>Back</button>
              <button mat-flat-button  class="confirm-delete-button" (click)="confirmDelete(application._id!)">Delete</button>
            </mat-dialog-actions>
          </ng-template>
        </section>


        <span class="toolbar-space-1"></span>


        <span class="transcript-records-button-wrapper">
          <button mat-fab extended class="transcript-records-button" 
                  *ngIf="application.status === 'Approved'"
                  (click)="openRecordsDialog()">
            <span>Transcript of Records</span>
            <mat-icon iconPositionEnd>open_in_new</mat-icon>
          </button>
        </span>
      
      <span class="agreement-button-wrapper">
        <button mat-fab extended class="agreement-button" 
                (click)="openAgreementDialog()">          
          <span>Learning Agreement</span>
          <mat-icon iconPositionEnd>open_in_new</mat-icon>
        </button>
      </span>
    </mat-card-actions>
        
    <!---- 
    <mat-icon>picture_as_pdf</mat-icon> 
    (click)="openPdfViewer(application._id!)">       
    -->

    </mat-card>
    <br>

    <!-------- GENERAL  ---------->

    <ng-container *ngFor="let fieldGroupResult of getFieldsByCategory(application); let isLast = last">
      <div class="fields-global-container">
      
        <h6>{{fieldGroupResult.groupLabel}}</h6>
        <div class="fields-container">
          <ng-container *ngFor="let field of fieldGroupResult.fields">
          <fieldset class="field-box">
            <legend>{{ field.label }}</legend>
            <span>{{ field.value }}</span>
          </fieldset>        
        </ng-container>

        </div>
      </div>

      <ng-container *ngIf ="!isLast"> 
        <mat-divider class="section-divider"/>
      </ng-container>

    </ng-container>
    <!--------------- DIVIDER  ------------------>
    <mat-divider class="section-divider"/>

    
    <!--------------- COURSES  ------------------>
    <div *ngIf="application.courses?.length">
      <h6>Courses</h6>

      <div class="course-pair" *ngFor="let ce of clonedCourses">
        <fieldset class="field-box">
          <legend>Original Course</legend>
          <p class="course-code">{{ ce.originalCourse.code }}</p>
          <p class="course-title">{{ ce.originalCourse.title }}</p>
          <p class="course-credits">CFU: {{ ce.originalCourse.credits }}</p>
        </fieldset>

        <span class="arrow">→</span>

        <fieldset class="field-box">
          <legend>Equivalent Course</legend>
          <p class="course-code">{{ ce.equivalentCourse.code }}</p>
          <p class="course-title">{{ ce.equivalentCourse.title }}</p>
          <p class="course-credits">CFU: {{ ce.equivalentCourse.credits }}</p>
        </fieldset>
      </div>
    </div>    

  </mat-expansion-panel>

  
</div>



<div *ngIf="!application">
  <p>You didn't present any application.</p>
</div>


