

<div *ngIf="application">


  <!--------------- BANNER  ------------------>
  <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
      <mat-expansion-panel-header>
        <mat-panel-title class="panel-title"> Application ID: {{application._id!}} </mat-panel-title>
        <mat-panel-description class="panel-description"> State: 
          <span class="status-badge" [ngClass]="getStatusClass(application.status)">
            {{ application.status }}
          </span>
        </mat-panel-description>
    </mat-expansion-panel-header>
    
    <!--------------- DATA  ------------------>



    <!--------------- EDIT BANNER ------------>
    <mat-card appearance="outlined">
      <mat-card-actions>

        <section class="button-section">
          
          <!----- Editor ---->
          <button mat-fab 
                  color="primary" 
                  class="edit-button" 
                  (click)="openApplicationEditor()"
                  aria-label="Modifica">
            <mat-icon>edit</mat-icon>
          </button>

          <!----- Delete ---->
          <button mat-fab 
                  color="warn" 
                  class="delete-button" 
                  (click)="openDeleteDialog(deleteDialogTemplate)"
                  aria-label="Elimina">
            <mat-icon>delete</mat-icon>
          </button>


          <ng-template #deleteDialogTemplate>
            <h2 mat-dialog-title>Confirm Deletion</h2>
            <mat-dialog-content>
              <p>Are you sure you want to delete permanently this application?</p>
            </mat-dialog-content>
            <mat-dialog-actions align="end">
              <button mat-flat-button  class="back-delete-button" mat-dialog-close>Back</button>
              <button mat-flat-button  class="confirm-delete-button" (click)="confirmDelete(application._id!)">Delete</button>
            </mat-dialog-actions>
          </ng-template>

          <!----- Arrival and departure date (Only if in progress) ---->
          <ng-container *ngIf="application.status === 'Mobility in progress'"> 
            <button mat-fab 
                    color="warn" 
                    class="delete-button" 
                    (click)="openDateDialog(dateDialogTemplate)"
                    *ngIf="userIsStudent()"
                    aria-label="Elimina">
              <mat-icon>calendar_today</mat-icon>
            </button>


            <ng-template #dateDialogTemplate>
              <h2 mat-dialog-title class="date-title">Enter dates of arrival and departure</h2>

              <mat-dialog-content class="dialog-form-container">
                <mat-form-field appearance="outline" class="field-date">
                  <mat-label>Arrival Date</mat-label>      
                  <input matInput [matDatepicker]="pickerArrival" [(ngModel)]="arrivalDateSelected">
                  <mat-datepicker-toggle matIconSuffix [for]="pickerArrival"></mat-datepicker-toggle>
                  <mat-datepicker #pickerArrival></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="outline" class="field-date">
                  <mat-label>Departure Date</mat-label>      
                  <input matInput [matDatepicker]="pickerDeparture" [(ngModel)]="departureDateSelected">
                  <mat-datepicker-toggle matIconSuffix [for]="pickerDeparture"></mat-datepicker-toggle>
                  <mat-datepicker #pickerDeparture></mat-datepicker>
                </mat-form-field>

                <mat-dialog-actions align="end">
                  <button mat-flat-button  class="back-delete-button" mat-dialog-close>Back</button>
                  <button mat-flat-button  class="confirm-delete-button" (click)="confirmUpdateDate(application)">Update</button>
                </mat-dialog-actions>
              </mat-dialog-content>
            </ng-template>
          </ng-container>

          <!----- State (Only for staff) ----->
          <ng-container *ngIf="userIsStaff() && verifyStateApplicationRequirement()"> 
            <button mat-fab 
                    color="warn" 
                    class="phase-button" 
                    (click)="openApplicationPhase(phaseDialogTemplate)"
                    aria-label="Modifica">
              <mat-icon>assignment_turned_in</mat-icon>
            </button>

            <ng-template #phaseDialogTemplate>
              <h2 mat-dialog-title>Phase changing</h2>

              <ng-container class="checkbox-center" *ngIf="application?.status === 'Awaiting Agreement approval'">
                <mat-checkbox [(ngModel)]="preDepartureCompleted">Pre-departure phase completed</mat-checkbox>
              </ng-container>

              <ng-container class="checkbox-center" *ngIf="application?.status === 'Waiting for exam score approval'">
                <mat-checkbox [(ngModel)]="applicationClosed">Close application</mat-checkbox>
              </ng-container>

              <mat-dialog-actions align="end">
                <button mat-flat-button class="back-delete-button" mat-dialog-close>Back</button>
                <button mat-flat-button class="confirm-delete-button" (click)="confirmPhaseUpdate(application)">Update</button>
              </mat-dialog-actions>
            </ng-template>
          </ng-container>

        </section>


        <span class="toolbar-space-1"></span>


        <!----- Transcript of records ---->
        <span class="transcript-records-button-wrapper">
          <button mat-fab extended class="transcript-records-button" 
                  *ngIf="application.status === 'Waiting for exam score approval'"
                  (click)="openRecordsDialog()">
            <span>Transcript of Records</span>
            <mat-icon iconPositionEnd>open_in_new</mat-icon>
          </button>
        </span>
      
      <!----- Agreement ---->
      <span class="agreement-button-wrapper">
        <button mat-fab extended class="agreement-button" 
                (click)="openAgreementDialog()">          
          <span>Learning Agreement</span>
          <mat-icon iconPositionEnd>open_in_new</mat-icon>
        </button>
      </span>
    </mat-card-actions>
        
    <!---- 
    <mat-icon>picture_as_pdf</mat-icon> 
    (click)="openPdfViewer(application._id!)">       
    -->

    </mat-card>
    <br>

    <!-------- GENERAL  ---------->
    <ng-container *ngFor="let fieldGroupResult of getFieldsByCategory(application); let isLast = last">
      <div class="fields-global-container">
      
        <h6>{{fieldGroupResult.groupLabel}}</h6>
        <div class="fields-container">
          <ng-container *ngFor="let field of fieldGroupResult.fields">
          <fieldset class="field-box">
            <legend>{{ field.label }}</legend>
            <span>{{ field.value }}</span>
          </fieldset>        
        </ng-container>

        </div>
      </div>

      <ng-container *ngIf ="!isLast"> 
        <mat-divider class="section-divider"/>
      </ng-container>

    </ng-container>

    <!--------------- DIVIDER  ------------------>
    <mat-divider class="section-divider"/>

    
    <!--------------- COURSES  ------------------>
    <div *ngIf="application.courses?.length">
      <h6>Courses</h6>

      <div class="course-pair" *ngFor="let ce of clonedCourses">
        <fieldset class="field-box">
          <legend>Original Course</legend>
          <p class="course-code">{{ ce.originalCourse.code }}</p>
          <p class="course-title">{{ ce.originalCourse.title }}</p>
          <p class="course-credits">CFU: {{ ce.originalCourse.credits }}</p>
        </fieldset>

        <span class="arrow">→</span>

        <fieldset class="field-box">
          <legend>Equivalent Course</legend>
          <p class="course-code">{{ ce.equivalentCourse.code }}</p>
          <p class="course-title">{{ ce.equivalentCourse.title }}</p>
          <p class="course-credits">CFU: {{ ce.equivalentCourse.credits }}</p>
        </fieldset>
      </div>
    </div>    

  </mat-expansion-panel>

  
</div>



<div *ngIf="!application">
  <p>You didn't present any application.</p>
</div>


