<h2 mat-dialog-title>Transcript of Records Edit</h2>



<!-------- GENERAL ---------->
<mat-dialog-content class="custom-dialog-content">
  <div *ngIf="data.application" class="form-container">
    
    
    <div class="group-section-courses-section">

      <div *ngFor="let ce of data.application.courses;
                  let itemNumber = count; 
                  let isLast = last; 
                  let courseIndex = index" 
                  class="course-comparison-row">
        
        <!-------- EQUIVALENT COURSE ---------->
        <div class="course-column">
          <div class="course-subtitle">Equivalent Course</div>

            <!---- 1st row ----> 
          <div class="course-inputs">

            <!---- Code ----> 
            <mat-form-field appearance="outline" density="compact" class="field-code">
              <mat-label>Code</mat-label>
              <input matInput [disabled] = "true" [(ngModel)]="ce.equivalentCourse.code"/>
            </mat-form-field>

            <!---- Course title ----> 
            <mat-form-field appearance="outline" density="compact" class="field-title">
              <mat-label>Course Title</mat-label>
              <input matInput [disabled] = "true" [(ngModel)]="ce.equivalentCourse.title"/>
            </mat-form-field>

            <!---- CFU ----> 
            <mat-form-field appearance="outline" density="compact" class="field-cfu">
              <mat-label>CFU</mat-label>
              <input matInput [disabled] = "true" [(ngModel)]="ce.equivalentCourse.credits"/>
            </mat-form-field>


          </div>

            <!---- 2st row ----> 
          <div class="course-inputs">
            <!---- Grade ----> 
            <mat-form-field appearance="outline" density="compact" class="field-grade">
              <mat-label>Grade</mat-label>
              <input matInput [disabled] = "data.application.status === 'Closed' || data.application.status === 'Canceled'" [(ngModel)]="clonedTranscriptRecords[courseIndex]" name="grade"/>
            </mat-form-field>


            <!---- Exam date ---->
            <mat-form-field appearance="outline" class="field-date">
              <mat-label>Exam Date</mat-label>
              <input matInput [disabled] = "data.application.status === 'Closed' || data.application.status === 'Canceled'" [matDatepicker]="picker" [(ngModel)]="examDate[courseIndex]">
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <ng-container *ngIf="userIsLecturer()"> 
                <mat-form-field appearance="outline" class="field-approved">
                  <mat-label>Approved</mat-label>
                  <mat-select [disabled] = "data.application.status === 'Closed' || data.application.status === 'Canceled'" [(ngModel)]="recordStateSelected[courseIndex]">
                    <mat-option *ngFor="let state of recordState" [value]="state">
                      {{ state }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
            </ng-container>

            <button mat-fab extended class="transcript-button" 
                    (click)="openPdfViewer(this.data.application._id!)"

                    *ngIf="this.data.application._id! && this.data.transcriptRecords.filename != ''"> 
              <mat-icon>picture_as_pdf</mat-icon>
              PDF
            </button>


          </div>

        </div>

        

      </div>

      <div class="transcript-item transcript-upload-card" *ngIf="!userIsLecturer() && (this.data.application.status === 'Mobility in progress' || this.data.application.status === 'Waiting for exam score approval')">
        <p>Add new transcript of records</p>

              <input 
            type="file" 
            #fileInput
            accept="application/pdf" 
            class="hidden-file-input"
            (change)="onFileSelected($event)" 
          />

          <button mat-fab color="primary" class="upload-button" (click)="fileInput.click()">
            <mat-icon>upload_file</mat-icon>
          </button>

          <button mat-fab extended class="trnascript-button" 
            (click)="openPdfViewer(this.data.application._id!)"
            *ngIf="this.data.application._id! && this.data.transcriptRecords.filename != ''"> 
          <mat-icon>picture_as_pdf</mat-icon>
            PDF
          </button>

          <!-------- FILE UPLOADED VISUALIZATION ---------->
          <ng-container *ngIf="selectedFile">
            <mat-form-field appearance="outline" class="field-file">
              <mat-label>Uploaded File</mat-label>
              <mat-icon matPrefix class="file-prefix-icon">insert_drive_file</mat-icon>
              <input matInput readonly [value]="selectedFile.name" />
            </mat-form-field>
          </ng-container>
      </div>

    </div>

  </div>
</mat-dialog-content>

<!-------- EDITOR BUTTONS ---------->
<mat-dialog-actions align="end">
  <button mat-flat-button  class="close-button" mat-dialog-close>Close</button>
  <button mat-flat-button color="primary" class="edit-button" *ngIf= "data.application.status !== 'Closed' && data.application.status !== 'Canceled'" (click)="onTranscriptSave()" cdkFocusInitial>Save Changes</button>
</mat-dialog-actions>
