<div class="grid-container">
  <app-navbar></app-navbar>
  <br>
   <ng-container *ngIf="application?._id; else showAddButton">
    <app-application-status></app-application-status>
   </ng-container>
  
    <ng-template #showAddButton>
      <button 
              type="button" 
              mat-mini-fab 
              color="primary" 
              class="add-application-button" 
              (click)="openApplicationCreator()"
              aria-label="Add course">                
        <mat-icon>add</mat-icon>
      </button>
    </ng-template>

</div>
